@model AutoManager.WebApp.Models.LoginViewModel
@{
    Layout = "_AuthLayout";
    ViewBag.Titulo = "Login";
}

<div class="card shadow-lg p-4" style="width: 400px;">
    <h4 class="text-center mb-4 text-primary">Acesso ao Sistema</h4>
    <form asp-action="Login" method="post">
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" placeholder="Digite seu e-mail" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Senha" class="form-label"></label>
            <input asp-for="Senha" type="password" class="form-control" placeholder="Digite sua senha" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
    <div class="text-center mt-3">
        <a asp-action="Registro" asp-controller="Autenticacao" class="text-decoration-none">Cadastrar Empresa</a>
    </div>
</div>
